@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: Grand Royal;
      font-weight: 500;
      src: url('fonts/Grand Royal Font/Grand Royal.ttf');
    }
    @font-face {
        font-family: Goldplay;
        src: url('fonts/goldplay/Goldplay Regular.otf');
    }
    
    .animAnchor svg{
      transition: 1s;
    }
    
    .animAnchor:hover svg{
      transform: translateX(100vw);
    }
}